/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.back-btn {
    -fx-background-color: grey;
    -fx-background-radius: 10 0 0 10;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-border-radius: 10 0 0 10;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
}

.fwrd-btn {
    -fx-background-color: grey;
    -fx-background-radius: 0 10 10 0;
    -fx-background-insets: 0;
    -fx-text-fill: white;
    -fx-border-radius: 0 10 10 0;
    -fx-border-width: 0 0 0 1;
    -fx-border-color: transparent transparent transparent white;
    -fx-font-weight: bold;
    -fx-font-family: "Helvetica";
}

.atomVerb {
    -fx-background-radius: 2 2 2 2;
    -fx-background-insets: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-border-color: #b19cd9;
    -fx-border-width: 2;
}

.beliefVal {
    -fx-text-fill: #8671ad;
}

.lw-cell-no-border {
    -fx-border-width: 4;
    -fx-border-color: transparent;
}

.lw-cell-border {
    -fx-background-radius: 2 2 2 2;
    -fx-background-insets: 2 2 2 2;
    -fx-border-radius: 2 2 2 2;
    -fx-border-color: #b19cd9;
    -fx-border-width: 4;
}

.black-font {
    -fx-text-fill: black;
}

.white-font {
    -fx-text-fill: white;
}

.table-row-deleted .text {
    -fx-strikethrough: true;
}
